header {
    background: rgb(90, 91, 95);
}

.caixa {
  position: relative;
  width: 940;
  margin: 0 auto;
}

h1 {
    display: inline;
}

#logo {
    width: 250px;
    margin: 20px;
}

nav {
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 82px;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-transform: uppercase;
    color: rgb(60, 73, 192);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.produtos {
   width: 1058 ;
   height: 0 ;
   padding: 50px 0;
}


.produtos li {
    display: inline-block ; 
    text-align: center; 
    border-color: blue;
    border-width: 3px;
    border-style: solid;
    margin: 10px;
    padding: 20px 0;

}

.item { 
    width: 360px;
    height: 260;
 }

 .produtos li h2{
    font-size: 30px;
    font-weight: bold;
 }



.produtos li{} 





